@import "../base/variables";

.signup {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30vh;
    margin-top: -50px;
  }

  &__content {
    @include yisuCard;
    position: relative;
    padding-top: 45px;
    margin: 0 $padding;
    text-align: center;
    max-width: 460px;

    p {
      margin-top: $less-padding;
      margin-bottom: $extra-padding;
    }

    &::before {
      content: "";
      position: absolute;
      width: 1120px;
      height: 1120px;
      background-color: $dark-blue;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -2;
    }
  }
}
